/* 
Estilos Personalizados

Aquí vamos a estilear todas las secciones, sus contenidos y el responsive. 
*/

@font-face {
  font-family: "Palatino Linotype";
  src: url("../Landing-Page-Flower-Knows/assets/fonts/palatinolinotype_roman.ttf") format("opentype");
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Palatino Linotype", sans-serif;
}